
.icon-linkedin-circled:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
